<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <beans profile="dev">
        <bean id="refEngine" class="kz.bsbnb.engine.StaticRefEngineImpl" />
    </beans>

    <!--<bean id="infoTestAspect" class="kz.bsbnb.engine.aspects.SavingInfoTestAspect" />-->
    <beans>
        <bean id="refDependencyAspect" class="kz.bsbnb.engine.aspects.RefDependencyAspect" />
        <aop:aspectj-autoproxy/>
    </beans>
</beans>